*{
  box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Helvetica, sans serif;
}

header{
  background-color: grey;
  padding: 20px 50px 25px;
  height: 85px;
  margin: 10px 30px 0px 30px;
}

p{
  font-size: 1.2rem;
}

.headerName{
  float: left;
  text-align: center;
}

.topButton{
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  display: inline-block;
  float: right;
  border-left: 2px solid grey;
  padding: 15px;
}

.topButton:hover{
  background-color: darkgrey;
}

#aboutButton {
    /*position: relative;*/
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}


.dropdown:hover .dropdown-content {
  margin-top: 50px;
    display: block;
}

.dropLink{
  color: white;
  text-align: center;
  background-color: black;
  text-align: center;
}

.dropLink:hover{
  background-color: darkgrey;
}

/*////////*/
.dropdown2 {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content2 {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}


.dropdown2:hover .dropdown-content2 {
  margin-left: 50px;
    display: block;
}

.dropLink2{
  color: white;
  text-align: center;
  background-color: black;
  text-align: center;
}

.dropLink2:hover{
  background-color: darkgrey;
}

main{
  padding: 30px 100px;
}

 main > img{
  padding-left:10px;
  float: right;
  border-left: 3px solid lightgrey;
  margin-bottom: 50px;
}

.randomLine{
  height: 300px;
  border-left: 2px solid lightgrey;
  float: left;
}

h2{
  font-size: 2rem;
}

.secondimg{
  float: left;
  padding: 3px;
  margin-right: 12px;
  border: 1px solid lightgrey
}

.middleimg{
  float: right;
  padding: 3px;
  margin-right: 12px;
  border: 1px solid lightgrey
}

.articles{
  clear: both;
  width: 33%;
  float: left;
  display: inline-block;
}


.secArt{
  display: inline-block;
  float: left;
  width: 33%;
}

footer{
  height: 65px;
  clear: both;
  background-color: grey;
  margin: 10px 30px 90px 30px;
  padding: 20px 30px 25px;
  color: lightgrey;
}
footer > p{
  font-size: 1rem;
}

article > p {
  margin-bottom: 30px;
}

article{
  margin-bottom: 120px;
}

nav{
  float: right;
}


a{
  text-decoration: none;
  color: orange;
}
